body{
  width: 100%;
  font-size: 12px;
  background-color: #eeeeee;
  color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body .wrapper {
  margin-top: 0px; 
}
a, a:hover{
  text-decoration: none;
  color: #000000;

}
ul{
  padding: 0;
  margin: 0;
}
ul>li{
  list-style: none;
}
.m-t-5 {
  margin-top: 5px !important; 
}

.p-t-5 {
  padding-top: 5px !important; 
}

.m-b-5 {
  margin-bottom: 5px !important; 
}

.p-b-5 {
  padding-bottom: 5px !important; 
}

.m-l-5 {
  margin-left: 5px !important; 
}

.p-l-5 {
  padding-left: 5px !important; 
}

.m-r-5 {
  margin-right: 5px !important; 
}

.p-r-5 {
  padding-right: 5px !important; 
}

.m-t-10 {
  margin-top: 10px !important; 
}

.p-t-10 {
  padding-top: 10px !important; 
}

.m-b-10 {
  margin-bottom: 10px !important; 
}

.p-b-10 {
  padding-bottom: 10px !important; 
}

.m-l-10 {
  margin-left: 10px !important; 
}

.p-l-10 {
  padding-left: 10px !important; 
}

.m-r-10 {
  margin-right: 10px !important; 
}

.p-r-10 {
  padding-right: 10px !important; 
}

.m-t-15 {
  margin-top: 15px !important; 
}

.p-t-15 {
  padding-top: 15px !important; 
}

.m-b-15 {
  margin-bottom: 15px !important; 
}

.p-b-15 {
  padding-bottom: 15px !important; 
}

.m-l-15 {
  margin-left: 15px !important; 
}

.p-l-15 {
  padding-left: 15px !important; 
}

.m-r-15 {
  margin-right: 15px !important; 
}

.p-r-15 {
  padding-right: 15px !important; 
}

.m-t-20 {
  margin-top: 20px !important; 
}

.p-t-20 {
  padding-top: 20px !important; 
}

.m-b-20 {
  margin-bottom: 20px !important; 
}

.p-b-20 {
  padding-bottom: 20px !important; 
}

.m-l-20 {
  margin-left: 20px !important; 
}

.p-l-20 {
  padding-left: 20px !important; 
}

.m-r-20 {
  margin-right: 20px !important; 
}

.p-r-20 {
  padding-right: 20px !important; 
}

.m-t-25 {
  margin-top: 25px !important; 
}

.p-t-25 {
  padding-top: 25px !important; 
}

.m-b-25 {
  margin-bottom: 25px !important; 
}

.p-b-25 {
  padding-bottom: 25px !important; 
}

.m-l-25 {
  margin-left: 25px !important; 
}

.p-l-25 {
  padding-left: 25px !important; 
}

.m-r-25 {
  margin-right: 25px !important; 
}

.p-r-25 {
  padding-right: 25px !important; 
}

.m-t-30 {
  margin-top: 30px !important; 
}

.p-t-30 {
  padding-top: 30px !important; 
}

.m-b-30 {
  margin-bottom: 30px !important; 
}

.p-b-30 {
  padding-bottom: 30px !important; 
}

.m-l-30 {
  margin-left: 30px !important; 
}

.p-l-30 {
  padding-left: 30px !important; 
}

.m-r-30 {
  margin-right: 30px !important; 
}

.p-r-30 {
  padding-right: 30px !important; 
}

.m-t-35 {
  margin-top: 35px !important; 
}

.p-t-35 {
  padding-top: 35px !important; 
}

.m-b-35 {
  margin-bottom: 35px !important; 
}

.p-b-35 {
  padding-bottom: 35px !important; 
}

.m-l-35 {
  margin-left: 35px !important; 
}

.p-l-35 {
  padding-left: 35px !important; 
}

.m-r-35 {
  margin-right: 35px !important; 
}

.p-r-35 {
  padding-right: 35px !important; 
}

.m-t-40 {
  margin-top: 40px !important; 
}

.p-t-40 {
  padding-top: 40px !important; 
}

.m-b-40 {
  margin-bottom: 40px !important; 
}

.p-b-40 {
  padding-bottom: 40px !important; 
}

.m-l-40 {
  margin-left: 40px !important; 
}

.p-l-40 {
  padding-left: 40px !important; 
}

.m-r-40 {
  margin-right: 40px !important; 
}

.p-r-40 {
  padding-right: 40px !important; 
}

.m-t-45 {
  margin-top: 45px !important; 
}

.p-t-45 {
  padding-top: 45px !important; 
}

.m-b-45 {
  margin-bottom: 45px !important; 
}

.p-b-45 {
  padding-bottom: 45px !important; 
}

.m-l-45 {
  margin-left: 45px !important; 
}

.p-l-45 {
  padding-left: 45px !important; 
}

.m-r-45 {
  margin-right: 45px !important; 
}

.p-r-45 {
  padding-right: 45px !important; 
}

.m-t-50 {
  margin-top: 50px !important; 
}

.p-t-50 {
  padding-top: 50px !important; 
}

.m-b-50 {
  margin-bottom: 50px !important; 
}

.p-b-50 {
  padding-bottom: 50px !important; 
}

.m-l-50 {
  margin-left: 50px !important; 
}

.p-l-50 {
  padding-left: 50px !important; 
}

.m-r-50 {
  margin-right: 50px !important; 
}

.p-r-50 {
  padding-right: 50px !important; 
}

.m-t-75 {
  margin-top: 75px !important; 
}

.p-t-75 {
  padding-top: 75px !important; 
}

.m-b-75 {
  margin-bottom: 75px !important; 
}

.p-b-75 {
  padding-bottom: 75px !important; 
}

.m-l-75 {
  margin-left: 75px !important; 
}

.p-l-75 {
  padding-left: 75px !important; 
}

.m-r-75 {
  margin-right: 75px !important; 
}

.p-r-75 {
  padding-right: 75px !important; 
}

.m-t-100 {
  margin-top: 100px !important; 
}

.p-t-100 {
  padding-top: 100px !important; 
}

.m-b-100 {
  margin-bottom: 100px !important; 
}

.p-b-100 {
  padding-bottom: 100px !important; 
}

.m-l-100 {
  margin-left: 100px !important; 
}

.p-l-100 {
  padding-left: 100px !important; 
}

.m-r-100 {
  margin-right: 100px !important; 
}

.p-r-100 {
  padding-right: 100px !important; 
}





.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity:0;
  transform: translateY(50px);
  transition:.5s ease all;
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity:1;
  transform: translateY(0px);
  transition:.5s ease all;
}
.img-circle {
  border-radius: 100%; }

.nav-sidebar a,
.nav-sidebar a:focus,
.nav-sidebar a:hover {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; 
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.badge.notification {
  position: absolute;
  top: -5px;
  right: 8px;
  background: #4256ca;
  padding: 5px;
  width: 0px;
  height: 0px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
}
.badge.notification.messege{
  background-color: #f20c99;
}
.theme-color {
  background: #ffffff !important;
}


.navbar .menu-toggle-button a {
  padding: 0px 5px;
  color: #ff7e00;
  font-size: 18px;
  margin-left: 20px;
}
.navbar .menu-toggle-button a:hover {
  color: #444444; 
}

.header .main-navbar-header .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  display: none;
}
.user-profile {
  padding: 0 0 15px;
  position: relative;
  text-align: center; 
}
.user-profile .user-pro-body {
  display: block; 
}
.user-profile .user-pro-body img {
  width: 50px;
  display: block;
  margin: 0 auto 10px; 
}
.user-profile .user-pro-body .u-dropdown {
  color: #97999f; 
}
.user-profile .user-pro-body .dropdown-menu {
  right: 0;
  width: 80%;
  left: 0;
  margin: 0 auto;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  top: 85px !important; 
}
.user-profile .user-pro-body .dropdown-menu li a {
  padding-left: 5px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding: 10px !important; 
}

.navbar-top-links .profile-pic {
  color: #666666;
  text-decoration: none;
  padding: 0 12px;
  font-size: 18px;
}

.navbar-top-links .dropdown-menu li {
  display: block; 
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0; 
}
.navbar-top-links .dropdown-menu li a {
  display: block;
  padding: 9px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; 
}
.navbar-top-links .dropdown-menu li a:hover {
  background: #f7fafc;
  text-decoration: none; 
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
  position: absolute;
  width: 280px;
  margin-top: 20px;
  border: 1px solid rgba(100,100,100,.2);
}

.navbar-top-links .dw-user-box {
  padding: 15px; 
}
.navbar-top-links .dw-user-box .u-img {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
.navbar-top-links .dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px; 
}
.navbar-top-links .dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px; 
}
.navbar-top-links .dw-user-box .u-text h4 {
  margin: 0; 
}
.navbar-top-links .dw-user-box .u-text p {
  margin-bottom: 3px; 
}
.navbar-top-links .dw-user-box .u-text .btn-danger {
  background: #f33155;
  opacity: .8;
  border-radius: 60px;
  border: 1px solid #f33155;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #FFF; 
}
/*--------------- end header top ---------------*/

/*-------------- body wrapper ---------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; 
}
/*-------------- Sidebar cusotm css --------------*/
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #001d3b;
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10; 
}


#sidebar.active {
  margin-left: -260px !important; 
}

.nav-sidebar .profile {
  text-align: center;
  padding: 30px 10px 15px 10px;
}
.nav-sidebar .profile img{
  border: 7px solid #002d5e;
}
.nav-sidebar .profile h5 {
  color: #798ea5;
  font-weight: 600;
  letter-spacing: 0.02px;
  padding: 15px 0px 0px 0px;
  font-size: 18px;
}
.nav-sidebar .profile h6{
  color: #798ea5;
}
.nav-sidebar .profile ul li {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
}
.nav-sidebar .profile ul li a {
  color: #798ea5 !important;
  padding: 0 !important;
}
.nav-sidebar .nav-heading {
  text-align: center;
  border-bottom: 1px solid #002d5e;
  padding: 5px 0px;
  text-transform: uppercase;
  border-top: 1px solid #002d5e;
}
.nav-sidebar .nav-heading h5 {
  color: #798ea5;
  font-weight: 600;
  letter-spacing: 0.02px;
  font-size: 14px;
  margin: 5px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-menu ul li.active, .sidebar-menu ul li:hover {
  background-color: #00142c;
}
.sidebar-menu ul li.active a, .sidebar-menu ul li:hover a{
  border-left: 3px solid #ff7e00;
}
.sidebar-menu ul li.active a{
  color: #798ea5;
}
.sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #798ea5;
}
.sidebar-menu ul li a :hover{
  color: #798ea5;
}
.sidebar-menu ul li a :focus {
  color: #798ea5;
}
.sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  color: #798ea5;
}



.sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 17%;
  font-size: 13px;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li a{
  margin-top: 5px 0px;
  border: 3px solid transparent;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li:hover a{
  background-color: #001d3b;
  border-left: 3px solid #ff7e00;
}
.sidebar-menu .sidebar-dropdown .sidebar-submenu li.active a{
  background-color: #001d3b;
  border-left: 3px solid #ff7e00;
}



.sidebar-menu ul li a span.label,
.sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------end sidebar ----------------*/
/*--------------- main content --------------*/
/*-------------- Header top ----------*/
.header-top{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
}
.header-top p{
  display: inline;
  font-family: 14px;
  font-weight: 500;
}
.header-top p:last-child{
  float: right;
}
.header-top p span {
  color: #ff7e00;
}

/*-------------- end header top -------------*/
/*--------------- header bottom -------------*/
.header-bottom {
  background-color: #ff7e00;
  padding: 20px 15px;
  line-height: 0;
  margin-top: 30px;
  border-radius: 5px;
}
.header-bottom .left-side {
  padding: 10px 0px;
}
.header-bottom .left-side p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0px;
  line-height: 1;
  display: inline;
}
.header-bottom .left-side p span {
  font-size: 20px;
  padding: 10px;
}
.header-bottom .right-side {
  padding: 0px 0px;
}
.header-bottom .right-side ul li  {
  padding: 20px 5px;
  display: inline-block;
}
.header-bottom .right-side ul li a {
  font-size: 16px;
  padding: 8px 20px;
  color: #fff;
  border: 1px solid #fff;
  margin: 0px 5px;
  border-radius: 20px;
  transition: all .3s;
}
.header-bottom .right-side a:hover{
  background-color: #ffffff;
  color: #ff7e00;
  transition: all .3s;
}
/*------------- main boyd ----------------*/
.wrapper .content {
  padding: 20px 0px;
}

.content .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0;
}
.content .card-body .cart_head {
  border-bottom: 1px solid rgba(100,100,100,.3);
  padding: .50rem;
  margin-bottom: 5px;
  color: #001d3b;
  font-size: 14px;
}

.content .card-body .cart_head .cart_icon {
  float: right;
}

.content .card-body .cart_body canvas {
  height: 75px !important;
  width: 150px !important;
}

.content .card-body .cart_body {
  padding: .75rem;
  position: relative;
}
.content .card-body .cart_body ul li{
  display: inline-block;
}

.content .card-body .cart_body .cart_body_title{
  font-size: 26px;
  font-weight: 600;
}
.content .card-body .cart_body .cart_body_pie{
  
}

.progress {
  margin-bottom: 20px;
}

.progress-bar {
  width: 0;
}

.progress .progress-bar {
  transition: unset;
}